.loadingWrapper {
    height: 85vh;
    margin-top: 5%;
    margin-bottom: 30px;
    animation: skeleton 1s ease infinite alternate;
}

@keyframes skeleton {
    to {
        opacity: 0.5;
    }
}
.contentSkeleton {
    margin-top: 2%;
    background-color: #999898;
    width: 100%;
    height: 40%;
}